﻿@model ManagerPanelViewModel
@{
    ViewData["Title"] = "ManagerPanel";
}
<link rel="stylesheet" href="~/css/ManagerPanel.css">
<div class="col-md-4">
    <h2 id="columnt-name">Manage users</h2>
    <partial name="_Register" model="@Model.RegisterModel" /><hr />
    <partial name="_UserSearch" model="@Model.SearchModel" /><hr />
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
