﻿@{
    ViewData["Title"] = "ListAllEmails";
}

<h2>All Emails</h2>
<div id="modal_holder"></div>
<table id="table_id" class="table table-bordered table-condensed">
    <thead class="alert-warning">
        <tr>
            <th>ID</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Stored On</th>
            <th>Status</th>
            <th>Attachments</th>
            <th>Latest Changes</th>
            <th>Details</th>
        </tr>
    </thead>
    <tfoot class="alert-warning">
        <tr>
            <th>ID</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Stored On</th>
            <th>Status</th>
            <th>Attachments</th>
            <th>Latest Changes</th>
            <th>Details</th>
        </tr>
    </tfoot>
</table>

@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kur-modal" data-kur="kur">Open modal for 1</button>*@
@*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#kur-modal" data-url="/email/details/645">Open modal for 2</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#kur-modal" data-url="/email/details/646">Open modal for 3</button>*@

<div class="modal fade" id="email-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                @*@if (User.IsInRole("Manager") && Model.PrevStatusName != null)
                {
                    <button type="button" class="btn btn-default revert-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/revertstatus/@Model.ID">Revert Status</button>
                }
                @if (Model.Status.ToLower() == "not reviewed")
                {
                    <button type="button" class="btn btn-default invalid-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
                    <button type="button" class="btn btn-default success-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/successstatus/@Model.ID">Mark as New</button>
                }
                @if (Model.Status.ToLower() == "new")
                {
                    <button type="button" class="btn btn-default application-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/email/applicationform/@Model.ID">Process to application</button>
                }
                @if (Model.Status.ToLower() == "open")
                {
                    <button type="button" class="btn btn-default reject-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
                    <button type="button" class="btn btn-default approve-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/successstatus/@Model.ID">Mark as New</button>
                }*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts

    {
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css">
    <script type="text/javascript" language="javascript" src="~/DataTables/datatables.js"></script>
    <script type="text/javascript" class="init">

        $('#table_id').DataTable({
            "ordering": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Action("PageList", "Email")",
                "type": "POST",
                "dataType": "json",
            },

            "columns": [
                { "data": "ID" },
                { "data": "Sender" },
                { "data": "Subject" },
                { "data": "StoredOn" },
                { "data": "Status" },
                { "data": "AttachmentsCount" ,
                    "render": function (data, type, row) {

                        if (row.EmailAttachmentsCount > 0) {
                            return `${row.EmailAttachmentsCount} attachments`//'<img src="/images/HasAttachments.svg" style="width:18px" />';
                        } else {
                            return 'no attachments'//'<img src="/images/NoAttachments.svg" style="width:18px" />';
                        }
                    }
                },
                { "data": "LastModifiedOn" },
                {
                    "render": function (data, type, row, meta) {
                        //debugger;
                        //return `<button type="button" class="btn btn-default" data-toggle="modal" data-target="#kur-modal">Details</a>';
                        return `<button type="button" class="btn btn-default trigger" data-toggle="modal" data-target="#email-modal" data-bodyurl="/email/details/${row.ID}" data-footerurl="/email/providefooter/${row.ID}">Details</a>`;

                    }
                }                   /*data-toggle="modal" data-target="#email-modal"*/
            ]
        });
    </script>
    <script>
        $('#email-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            console.log(button);
            var bodyUrl = button.data('bodyurl');
            console.log(bodyUrl);
            var modal = $(this);
            console.log(modal);
            var target = $(modal).find('.modal-body');
            console.log(target);

            var footerUrl = button.data('footerurl');
            console.log(bodyUrl);
            var footertarget = $(modal).find('.modal-footer');


            $.get(bodyUrl, function (data) {

                console.log('data: ');
                console.log(data);
                target.html(data);
            });

            $.get(footerUrl, function (footerdata) {

                console.log('footerdata: ');
                console.log(footerdata);
                footertarget.html(footerdata);
            });
        });
    </script>
}

@*//$.get(footerUrl, function (footer) {

    //    console.log('footer: ');
    //    console.log(footer);
    //    modal.find('.modal-footer').html(footer);
    //});
    //{
    //    var target = $(this);
    //    var currentLink = $(ev.target);
    //    var url = currentLink.data('bodyurl');

    //    $.get(url, function (data) {

    //        console.log('footer: ');
    //        console.log(data);
    //        target.html(data);
    //    });
    //})
    //$('.trigger').click(function (ev) {
    //    ev.preventDefault();

    //    var target = $(this);
    //    var currentLink = $(ev.target);
    //    var url = currentLink.data('bodyurl');

    //    $.get(url, function (data) {

    //        console.log('footer: ');
    //        console.log(data);
    //        target.html(data);
    //    });*@