﻿@model ListingValidEmailsViewModel
@{
    ViewData["Title"] = "ListValidEmails";
}
<div class="modal fade" id="validemails-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                @*@if (User.IsInRole("Manager") && Model.PrevStatusName != null)
                    {
                        <button type="button" class="btn btn-default revert-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/revertstatus/@Model.ID">Revert Status</button>
                    }
                    @if (Model.ToLower() == "not reviewed")
                    {
                        <button type="button" class="btn btn-default invalid-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
                        <button type="button" class="btn btn-default success-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/successstatus/@Model.ID">Mark as New</button>
                    }
                    @if (Model.Status.ToLower() == "new")
                    {
                        <button type="button" class="btn btn-default application-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/email/applicationform/@Model.ID">Process to application</button>
                    }
                    @if (Model.Status.ToLower() == "open")
                    {
                        <button type="button" class="btn btn-default reject-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
                        <button type="button" class="btn btn-default approve-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/successstatus/@Model.ID">Mark as New</button>
                    }*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<h2>All Valid Emails</h2>
<div id="modal_holder"></div>
<table id="table_valid_emails" class="table table-bordered table-condensed">
    <thead class="alert-warning">
        <tr>
            <th>ID</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Stored On</th>
            <th>Status</th>
            <th>Attachments</th>
            <th>Latest Changes</th>
            <th>Details</th>
        </tr>
    </thead>
    <tfoot class="alert-warning">
        <tr>
            <th>ID</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Stored On</th>
            <th>Status</th>
            <th>Attachments</th>
            <th>Latest Changes</th>
            <th>Details</th>
        </tr>
    </tfoot>
</table>



@section Scripts

    {
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css">
    <script type="text/javascript" language="javascript" src="~/DataTables/datatables.js"></script>
    <script type="text/javascript" class="init">

        $('#table_valid_emails').DataTable({
            "ordering": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Action("PageListValidEmails", "Email")",
                "type": "POST",
                "dataType": "json",
            },

            "columns": [
                { "data": "ID" },
                { "data": "Sender" },
                { "data": "Subject" },
                { "data": "StoredOn" },
                { "data": "Status" },
                { "data": "AttachmentsCount" ,
                    "render": function (data, type, row) {

                        if (row.EmailAttachmentsCount > 0) {
                            return '<img src="/images/image.png" style="width:18px" />';
                        } else {
                            return 'no attachments'
                        }
                    }
                },
            { "data": "LastModifiedOn" },
                {
                    "render": function (data, type, row, meta) {
                        return `<button type="button" class="btn btn-default" data-toggle="modal" data-target="#validemails-modal" data-url="@Url.Action("Details","Email")/${row.ID}">Details</button>`;
                    }
                }
            ]
        }
        );
        $('#validemails-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var url = button.data('url')
            var modal = $(this)

            $.get(url, function (data) {
                console.log('data is');
                console.log(data);


            
                //modal.find('.modal-title').text('New message to ' + recipient)
                var target = $(modal).find('.modal-body')
                target.html(data)
            });
        })
    </script>
}
