﻿.btn.navbar-item {
    color: inherit;
    background-color: inherit;
}

    .btn.navbar-item:hover {
        color: none;
        text-decoration-line: none;
        background-color: inherit;
        box-shadow: none;
    }
