﻿body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-size: x-large;*/
    padding-top: 50px!important;
    padding-bottom: 20px;
    background-color: ghostwhite;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

#list-content {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

#title-content {
    text-decoration: none;
}

#columnt-name {
    text-align: center;
    text-decoration-line: underline;
}

.btn {
    font-weight: bold;
    position: inherit;
    background-color: #e88e40;
    color: black;
}

    .btn:hover {
        color: white;
        background-color: #EA7404;
        box-shadow: 0px 0px 20px rgba(234, 116, 4, 1);
    }

.navbar {
    background-color: #FAAD65;
    border: none;
}

.navbar-item {
    font-weight: bold;
    color: black !important;
}

    .navbar-item:hover {
        color: white !important;
        text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
        transform: scale(1.1);
    }

#details-buttons {
}
/*#loader {
    position: fixed;
    left: 1px;
    top: 1px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiE2o3nqtziAhVPDewKHX3kAUcQjRx6BAgBEAU&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fgiphy.com%252Fexplore%252Floading%26psig%3DAOvVaw3U_i3_Odcl4BaIKzCtHA2F%26ust%3D1560167416470395&psig=AOvVaw3U_i3_Odcl4BaIKzCtHA2F&ust=1560167416470395') 50% 50% no-repeat rgb(249,249,249);
}*/
.modal-header{
    background-color:antiquewhite;
}

.modal-footer {
    background-color: antiquewhite;
}