﻿@model ApplicationViewModel
@*EmailDetailsModalModel*@
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "_ApplicationDetailsModal";
}

<h2>_ApplicationDetailsModal</h2>

<div class="modal fade" id="modal-@Model.ID" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <div class="application-details">
                    <p><strong>First name:</strong> @Model.CustomerFirstName</p>
                    <p><strong>Last name:</strong> @Model.CustomerSecondName</p>
                    <p><strong>Phone number:</strong> @Model.PhoneNumber</p>
                    <p><strong>CustomerID:</strong> @Model.CustomerID</p>
                    <p><strong>Date received:</strong> @Model.RegisteredOn</p>
                    <p><strong>Current status:</strong> @Model.Status</p>
                </div>
            </div>
            <div class="modal-footer">
                @if (User.IsInRole("Manager"))
                {
                    <button type="button" class="btn btn-default revert-button" data-url="/user/revertstatus/@Model.ID">Revert Status</button>
                }
                @if (Model.Status.StatusName.ToLower() == "open")
                {
                    <button type="button" class="btn btn-default app-reject-button" data-url="/user/invalidstatus/@Model.ID">Reject</button>
                    <button type="button" class="btn btn-default app-approve-button" data-url="/user/successstatus/@Model.ID">Approve</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*data-toggle="modal" data-target="#modal-@Model.ID"
data-toggle="modal" data-target="#modal-@Model.ID"*@