﻿@model ApplicationViewModel

@{
    ViewData["Title"] = "_ApplicationDetailsPartial";
}
<h2>Application Details</h2>

<div class="application-details">
    <p><strong>First name:</strong> @Model.CustomerFirstName</p>
    <p><strong>Last name:</strong> @Model.CustomerSecondName</p>
    <p><strong>Phone number:</strong> @Model.PhoneNumber</p>
    <p><strong>CustomerID:</strong> @Model.CustomerID</p>
    <p><strong>Date received:</strong> @Model.RegisteredOn</p>
    <p><strong>Current status:</strong> @Model.StatusName</p>
</div>