﻿@model ApplicationViewModel
@{
    ViewData["Title"] = "_AppModalFooter";
}
<div>
    @if (User.IsInRole("Manager"))
    {
        <button type="button" class="btn btn-default app-revert-button" data-dismiss="modal" onclick="event.stopPropagation();location.href='@Url.Action("RevertAppStatus", "user")/@Model.ID'">Revert Status</button>
    }
    @if (Model.ApplicationStatusID == 1)
    {
        <button type="button" class="btn btn-default app-success-button" data-dismiss="modal" onclick="location.href='@Url.Action("successapplicationstatus", "user")/@Model.ID';myFunction()"> Approve </button>
        <button type="button" class="btn btn-default app-reject-button" data-dismiss="modal" onclick="location.href='@Url.Action("invalidapplicationstatus", "user")/@Model.ID';myFunction()"> Reject </button>
    }

    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<script>
    function myFunction() {
        alert("Operation successfull!");
    }
</script>