﻿@model ApplicationViewModel
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "_CreateApplicationPartial";
}

<h2>All fields are required!</h2>

<div class="row">

    <form id="create-app-form" class="col-lg-8" asp-controller="Application" asp-action="CreateApplication">
        <div class="form-group">
            <label asp-for="@Model.CustomerID">Customer ID</label>
            <input asp-for="@Model.CustomerID" class="form-control" />
            <span asp-validation-for="@Model.CustomerID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CustomerFirstName">First Name</label>
            <input asp-for="@Model.CustomerFirstName" class="form-control" />
            <span asp-validation-for="@Model.CustomerFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CustomerSecondName">Last Name</label>
            <input asp-for="@Model.CustomerSecondName" class="form-control" />
            <span asp-validation-for="@Model.CustomerSecondName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.LoanAmount">Loan Amount Wanted</label>
            <input asp-for="@Model.LoanAmount" class="form-control" />
            <span asp-validation-for="@Model.LoanAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PeriodInMonths">Loan Period in Months</label>
            <input asp-for="@Model.PeriodInMonths" class="form-control" />
            <span asp-validation-for="@Model.PeriodInMonths" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PhoneNumber">Customer Phone Number</label>
            <input asp-for="@Model.PhoneNumber" class="form-control" />
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
        </div>
        <input asp-for="@Model.EmailOriginalID" type="hidden" class="form-control" />
            
        <div class="form-group">
            <button type="submit" class="btn btn-success">Create Application</button>
            <button type="button" class="btn btn-default discard-button" data-url="/email/applicationform/@Model.ID">Dismiss</button>
        </div>
    </form>
</div>