﻿@model EmailViewModel

@{
    ViewData["Title"] = "_EmailMarkedAsNewPartial";
}

<h2>_EmailMarkedAsNewPartial</h2>

@*<link rel="stylesheet" href="~/css/EmailsNotReviewedPartial.css">*@

@*<div class="font-weight: bold">*@
<div class="email-status" data-url="/email/MarkEmailAsNew/@Model.ID">
    <p>Status has been changed</p>
@*</div>*@
</div>
<hr />