﻿@model EmailDetailsModalModel
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "_EmailDetailsModal";
}

<div class="modal fade" id="modal-@Model.Email.ID" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <div class="email-details">
                    <p><strong>Subject:</strong> @Model.Email.Subject</p>
                    <p><strong>Sender:</strong> @Model.Email.Sender</p>
                    <p><strong>Body:</strong> @Model.Email.Body</p>
                    <p><strong>Date received:</strong> @Model.Email.ReceivedOn</p>
                    <p><strong>Current status:</strong> @Model.Email.Status</p>
                
                    <partial name="_CreateApplicationPartial" model="Model.Email.Application" />
                
                    @*<div>
                        <form id="create-player-form" class="col-lg-8" asp-controller="Application" asp-action="CreateApplication">
                            <div class="form-group">
                                <label asp-for="@Model.Application.CustomerID"></label>
                                <input asp-for="@Model.Application.CustomerID" class="form-control" />
                                <span asp-validation-for="@Model.Application.CustomerID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Application.CustomerFirstName"></label>
                                <input asp-for="@Model.Application.CustomerFirstName" class="form-control" />
                                <span asp-validation-for="@Model.Application.CustomerFirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Application.CustomerSecondName"></label>
                                <input asp-for="@Model.Application.CustomerSecondName" class="form-control" />
                                <span asp-validation-for="@Model.Application.CustomerSecondName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Application.PhoneNumber"></label>
                                <input asp-for="@Model.Application.PhoneNumber" class="form-control" />
                                <span asp-validation-for="@Model.Application.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Create Application</button>
                                @{ var referrer = this.Context.Request.Headers["Referer"]; }

                                @if (referrer != default(StringValues))
                                {
                                    <a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
                                }
                            </div>

                        </form>*@
                    </div>
            </div>
                <div class="modal-footer">
             
                    <button type="button" class="btn btn-default status-buttons" data-url="/user/revertstatus/@Model.Email.ID">Revert Status</button>
                    @*<button type="button" class="btn btn-default status-buttons" data-dismiss="modal">Mark as Invalid</button>
        <button type="button" class="btn btn-default status-buttons" data-dismiss="modal">Mark as New</button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>
