﻿@model EmailViewModel
@{
    ViewData["Title"] = "_LastModifiedNotReviewedPartial";
}

<div class="initial-info">
    Entry with ID: @Model.ID Last modified on @Model.LastModifiedOn by: @Model.ProcessedBy
</div>

<button type="button" class="btn btn-default details-buttons" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/email/details/@Model.ID" data-toappend="modal-body">Details</button>

<div class="modal fade" id="modal-@Model.ID" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <p><strong>Subject:</strong> @Model.Subject</p>
                <p><strong>Sender:</strong> @Model.Sender</p>
                <p><strong>Body:</strong></p>
                <div class="body-content"></div>
                <p><strong>Date received:</strong> @Model.ReceivedOn</p>
                <p><strong>Current status:</strong> @Model.Status</p>
            </div>
            <div class="modal-footer">
                @if (User.IsInRole("Manager"))
                {
                    <button type="button" class="btn btn-default revert-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/revertstatus/@Model.ID">Revert Status</button>
                }
                @if (Model.Status.ToLower() == "not reviewed")
                {
                    <button type="button" class="btn btn-default reject-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
                    <button type="button" class="btn btn-default success-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/successstatus/@Model.ID">Mark as New</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<hr />