@using Microsoft.AspNetCore.Identity
@using TBI_Project.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
<link rel="stylesheet" href="~/css/Login.css" />

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @*<li>
                <a class="navbar-item" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>*@
            @if (User.IsInRole("Manager"))
                {
                    <li><a class="navbar-item" asp-controller="User" asp-action="ManagerPanel">Management Panel</a></li>
                }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-item">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li><a class="navbar-item" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
