﻿@model EmailViewModel
@{
    ViewData["Title"] = "_ModalFooter";
}
<div>
    @if (User.IsInRole("Manager") && Model.PrevStatusName != null)
    {
        @*<button type="button" class="btn btn-default revert-button" onclick="location.href='@Url.Action("revertstatus", "user")/@Model.ID'">Revert Status</button>*@
        <button type="button" class="btn btn-default revert-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/revertstatus/@Model.ID">Revert Status</button>
    }
    @if (Model.Status.ToLower() == "not reviewed")
    {
        @*<button type="button" class="btn btn-default invalid-button" onclick="location.href='@Url.Action("invalidstatus", "user")/@Model.ID'">Mark as Invalid</button>
            <button type="button" class="btn btn-default success-button" onclick="location.href='@Url.Action("successstatus", "user")/@Model.ID'">Mark as New</button>*@
        <button type="button" class="btn btn-default invalid-button" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
        <button type="button" class="btn btn-default success-button" data-url="/user/successstatus/@Model.ID">Mark as New</button>
    }
    @if (Model.Status.ToLower() == "new")
    {
        @*<button type="button" class="btn btn-default app-button" onclick="location.href='@Url.Action("applicationform", "email")/@Model.ID'"> Process to application </button>
            <button type="button" class="btn btn-default revert-button" onclick="location.href='@Url.Action("revertstatus", "user")/@Model.ID'">Revert Status</button>*@
        <button type="button" class="btn btn-default table-application-button" data-toggle="modal" data-target="#email-modal" data-url="/email/applicationform/@Model.ID">Process to application</button>
    }
    @if (Model.Status.ToLower() == "open")
    {
        @*<button type="button" class="btn btn-default invalid-button" onclick="location.href='@Url.Action("invalidapplicationstatus", "user")/@Model.ID'">Reject</button>
            <button type="button" class="btn btn-default success-button" onclick="location.href='@Url.Action("successapplicationstatus", "user")/@Model.ID'">Approve</button>*@
        <button type="button" class="btn btn-default reject-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
        <button type="button" class="btn btn-default approve-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/successstatus/@Model.ID">Mark as New</button>
    }
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
