﻿@model EmailViewModel
@{
    ViewData["Title"] = "_ModelBody";
}

<div>
    <p><strong>Subject:</strong> @Model.Subject</p>
    <p><strong>Sender:</strong> @Model.Sender</p>
    <p><strong>Body:</strong><br /> @Model.Body</p>
    @*<div class="body-content"> </div>*@
    <p><strong>Date received:</strong> @Model.ReceivedOn</p>
    <p><strong>Current status:</strong> @Model.Status</p>
</div>
<div>
    <partial name="_ModalFooter" model="Model"/>
</div>
@*<div>

    @if (User.IsInRole("Manager") && Model.PrevStatusName != null)
    {
        <button type="button" class="btn btn-default revert-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/revertstatus/@Model.ID">Revert Status</button>
    }
    @if (Model.Status.ToLower() == "not reviewed")
    {
        <button type="button" class="btn btn-default invalid-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
        <button type="button" class="btn btn-default success-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/successstatus/@Model.ID">Mark as New</button>
    }
    @if (Model.Status.ToLower() == "new")
    {
        <button type="button" class="btn btn-default application-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/email/applicationform/@Model.ID">Process to application</button>
    }
    @if (Model.Status.ToLower() == "open")
    {
        <button type="button" class="btn btn-default reject-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/invalidstatus/@Model.ID">Mark as Invalid</button>
        <button type="button" class="btn btn-default approve-button" data-toggle="modal" data-target="#modal-@Model.ID" data-url="/user/successstatus/@Model.ID">Mark as New</button>
    }
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>*@

