﻿@model UserSearchViewModel
@{
    ViewData["Title"] = "_UserSearch";
}

@*<h2>_UserSearch</h2>*@
<div class="user-search-partial">
    <form class="col-md-12" asp-controller="User" asp-action="UserSearch" method="get">
        <div class="form-group">
            <input asp-for="@Model.SearchName" placeholder="Search..." class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        @if (Model != null)
        {
            if (!string.IsNullOrWhiteSpace(Model.SearchName) && !Model.SearchResults.Any())
            {
                <br />
                <p class="alert alert-danger">No users found</p>
            }
            else
            {
                foreach (var user in Model.SearchResults)
                {
                    <partial name="_UserPartial" model="user" />
                }
            }
        }
    </div>
</div>
