﻿@model UserViewModel
@{
    ViewData["Title"] = "_UserPartial";
}

<div class="col-md-12">
    <br />
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Registered on:</strong> @Model.RegisteredOn</p>
    @if (!User.IsInRole("Manager"))
    {
    <p><strong>By:</strong> @Model.RegisteredBy</p>
    }
</div>
