﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/EmailDetailsPartial.css">

<div class="row" style="text-decoration: none;">
    <div class="col-md-4" style="text-align:center">
        <h2>Latest Emails</h2>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Last Modified</h2>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Valid content</h2>
    </div>
</div>
<br />
<div style="height:100%">
    <div class="col-md-4" id="list-content">

        @if (Model.LatestEmails.Count == 0)
        {
            <p class="alert alert-danger">No entries found</p>
        }
        else
        {
            @foreach (var email in Model.LatestEmails)
            {
                if (email.Status.ToLower() == "not reviewed" || email.Status.ToLower() == "not valid")
                {
                    <partial name="_EmailNotReviewedPartial" model="email" />
                }
                else
                {
                    <partial name="_EmailDetailsPartial" model="email" />
                }
            }
        }
    </div>
</div>
<div class="col-md-4" id="list-content">
    @if (Model.LastModified.Count == 0)
    {
        <p class="alert alert-danger">No entries found</p>
    }
    else
    {
        @foreach (var email in Model.LastModified)
        {
            if (email.Status.ToLower() == "not reviewed" || email.Status.ToLower() == "not valid")
            {
                <partial name="_LastModifiedNotReviewedPartial" model="email" />
            }
            else
            {
                <partial name="_EmailLastModifiedOnPartial" model="email" />
            }
        }
    }
</div>
<div class="col-md-4" id="list-content">
    @if (Model.ApprovedAndNew.Count == 0)
    {
        <p class="alert alert-danger">No entries found</p>
    }
    else
    {
        @foreach (var email in Model.ApprovedAndNew)
        {
            <partial name="_EmailNotReviewedPartial" model="email" />
        }
    }

</div>
<br />
<div class="col-md-12" style="display:inline-block">
    <div class="col-md-4" style="text-align:center">
        <a class="btn btn-default" href="/Email/ListAllEmails">
            List All Emails
        </a>
    </div>
    <div class="col-md-4" style="text-align:center">
        <a class="btn btn-default" href="/Email/ListAllEmails">
            See More
        </a>
    </div>
    <div class="col-md-4" style="text-align:center">
        <a class="btn btn-default" href="/Email/ListValidEmails">
            Valid Emails
        </a>
    </div>
</div>
<br />
