﻿@model ApplicationViewModel
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "CreateApplication";
}

<h2>CreateApplication</h2>

<div class="row">

    <form id="create-player-form" class="col-lg-8" asp-controller="Application" asp-action="CreateApplication">
        <div class="form-group">
            <label asp-for="@Model.CustomerID"></label>
            <input asp-for="@Model.CustomerID" class="form-control" />
            <span asp-validation-for="@Model.CustomerID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CustomerFirstName"></label>
            <input asp-for="@Model.CustomerFirstName" class="form-control" />
            <span asp-validation-for="@Model.CustomerFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.CustomerSecondName"></label>
            <input asp-for="@Model.CustomerSecondName" class="form-control" />
            <span asp-validation-for="@Model.CustomerSecondName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.LoanAmount">Loan Amount Wanted</label>
            <input asp-for="@Model.LoanAmount" class="form-control" />
            <span asp-validation-for="@Model.LoanAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PeriodInMonths">Loan Period in Months</label>
            <input asp-for="@Model.PeriodInMonths" class="form-control" />
            <span asp-validation-for="@Model.PeriodInMonths" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PhoneNumber"></label>
            <input asp-for="@Model.PhoneNumber" class="form-control" />
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Create Application</button>
            @{ var referrer = this.Context.Request.Headers["Referer"]; }

            @if (referrer != default(StringValues))
            {
                <a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
            }
        </div>
    </form>
</div>

