﻿@{
    ViewData["Title"] = "ListClosedApplications";
}

<h2>All Closed Applications</h2>
<div id="modal_holder"></div>
<table id="closed-app-table" class="table table-bordered table-condensed">
    <thead class="alert-warning">
        <tr>
            <th>ID</th>
            <th>Customer Names</th>
            <th>Customer ID</th>
            <th>Loan Amount</th>
            <th>Loan Period(months)</th>
            <th>Phone Number</th>
            <th>Registered On</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tfoot class="alert-warning">
        <tr>
            <th>ID</th>
            <th>Customer Names</th>
            <th>Customer ID</th>
            <th>Loan Amount</th>
            <th>Loan Period(months)</th>
            <th>Phone Number</th>
            <th>Registered On</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </tfoot>
</table>

<div class="modal fade" id="closed-apps-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              
            </div>
        </div>
    </div>
</div>

@section Scripts

    {
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css">
    <script type="text/javascript" language="javascript" src="~/DataTables/datatables.js"></script>
    <script type="text/javascript" class="init">

        $('#closed-app-table').DataTable({
            "ordering": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Action("PageListClosedApplications", "Application")",
                "type": "POST",
                "dataType": "json",
            },

            "columns": [
                { "data": "ID" },
                { "data": "CustomerFullName" },
                { "data": "CustomerID" },
                { "data": "LoanAmount" },
                { "data": "LoanPeriodInMonths" },
                { "data": "PhoneNumber" },
                { "data": "RegisteredOn" },
                { "data": "Status" },
                {
                    "render": function (data, type, row, meta) {
                        return `<button type="button" class="btn btn-default" data-toggle="modal" data-target="#closed-apps-modal" data-url="/application/details/${row.ID}" data-footerurl="/application/FooterDetails/${row.ID}">Details</a>`;
                    }
                }
            ]
        });
    </script>
    <script>
        $('#closed-apps-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            console.log(button);
            var url = button.data('url');
            console.log(url);
            var modal = $(this);
            console.log(modal);

            $.get(url, function (data) {

                console.log('data: ');
                console.log(data);
                modal.find('.modal-body').html(data);
            });
            var footerUrl = button.data('footerurl');

            $.get(footerUrl, function (footer) {

                console.log('footer: ');
                console.log(footer);
                modal.find('.modal-footer').html(footer);
            });
        })
    </script>
}

@*@{
        ViewData["Title"] = "ListClosedApplications";
    }

    <h2>List Closed Applications</h2>

    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">

    <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>

    <html>
    <head>

    </head>

    <body>
        <table id="1" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                    <th>Stored On</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var application in Model.ClosedApplications)
                {
                    <tr>
                        <td>@application.ID</td>
                        <td>@application.CustomerFirstName</td>
                        <td>@application.CustomerSecondName</td>
                        <td>@application.PhoneNumber</td>
                        <td>@application.LastChangedOn</td>
                        <td>@application.Status</td>
                        @*<td>@application.Status</td>*@
@*<td>
    <button type="button" class="btn btn-default details-buttons-open-applications" data-toggle="modal" data-target="#modal-@application.ID" data-url="/application/details/@application.ID" data-toappend="modal-body">Details</button>
    <div class="modal fade" id="modal-@application.ID" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Details</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">*@
@*<button type="button" class="btn btn-default status-buttons" data-url="/user/revertstatus/@email.ID">Revert Status</button>
    <button type="button" class="btn btn-default status-buttons" data-dismiss="modal">Mark as Invalid</button>
    <button type="button" class="btn btn-default status-buttons" data-dismiss="modal">Mark as New</button>*@
@*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
    </html>*@
@*/*@